.plan-contents{
  background-color: #c8f7dd;
  border: 2px solid green;
  /* padding-left: 40px; */
  padding: 20px 40px;
  border-left: none;
  cursor: pointer;
  width: 84%;
  margin: 30px 0;
}

.plan-contents:hover{
  border: 2px solid red;
  border-left: none;
}

.plan-contents a{
  text-decoration: none;
}

.plan-contents h1{
  color: black;

}

.plan-contents h2{
  color: #A9A9A9;
}

.plan-contents p{
  color: black;
  border: 2px solid #8FBC8F;
  padding: 10px 20px;
  background-color: white;
}

.plan-contents_plus{
  background-color: #e2ffeb;
}

.plan-contents_premium{
  background-color: #006400;
}

.plan-contents_premium h1{
  color: white;
}

.plan-contents_premium h2{
  color: #A9A9A9;
}
